$color-brand: #2866A7;
$color-grey: #cccccc;
$color-black: #333333;
$color-white: #ffffff;
$font-family: "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
@import './bootstrap/bootstrap-custom';
@import './react-select/default';
@import 'spinner';
@import 'mobile-nav';
@import 'dropzone';